.gaddon-mailchimp-categoryname {
	font-weight: bold;
}

.gaddon-setting-checkbox {
	margin: 5px 0 0 0;
}

.gaddon-mailchimp-category .gf_animate_sub_settings {
	padding-left: 10px;
}

/*
     FILE ARCHIVED ON 18:59:21 Nov 18, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:44:33 Feb 07, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.089
  exclusion.robots: 0.027
  exclusion.robots.policy: 0.017
  esindex: 0.022
  cdx.remote: 38.148
  LoadShardBlock: 203.622 (3)
  PetaboxLoader3.datanode: 294.765 (4)
  PetaboxLoader3.resolve: 77.775 (2)
  load_resource: 250.809
*/