/**
 * ----------------------------------------------------------------------------
 * Frontend CSS
 * ----------------------------------------------------------------------------
 */
.wp-block-technation-custom-header-block {
  text-align: center;
  height: 500px;
  background-position: 50% 50%;
  background-size: cover;
  padding: 25px 50px;
}
.wp-block-technation-custom-header-block img {
  height: 250px;
  width: auto;
}
.wp-block-technation-custom-header-block .column {
  width: 100%;
}
.wp-block-technation-custom-header-block h1 {
  color: inherit !important;
  margin: 0 auto 0.5em auto !important;
}
.wp-block-technation-custom-header-block p {
  font-size: 25px;
  line-height: 35px;
  margin: 0 auto !important;
  max-width: 600px;
}
@media (max-width: 991px) {
  .wp-block-technation-custom-header-block p {
    font-size: 20px;
    line-height: 30px;
    max-width: 400px;
  }

  .wp-block-technation-custom-header-block {
    padding: 25px 20px;
  }
}
.wp-block-technation-custom-header-block .header-block-content {
  padding: 0;
}

/*
     FILE ARCHIVED ON 18:59:20 Nov 18, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:44:26 Feb 07, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.916
  exclusion.robots: 0.038
  exclusion.robots.policy: 0.024
  esindex: 0.013
  cdx.remote: 10.567
  LoadShardBlock: 124.363 (3)
  PetaboxLoader3.datanode: 141.202 (4)
  load_resource: 193.575
  PetaboxLoader3.resolve: 165.668
*/