<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Keiko">
        {% endif %}
        <p>{{ site.description | default: site.github.project_tagline }}</p>
      
        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}" target="_blank">GitHub</a></p>
        {% endif %}
        
        <p class="view"><a href="https://www.youtube.com/watch?v=WXGoqKSUsx0&list=PLP9MNCMgJIHj6FvahJ6Tembp1rCyhLtR4&pp=sAgC" target="_blank">Demo: Raster and Vector viewers</a></p>

        <p class="view"><a href="https://www.linkedin.com/in/keiko-nomura-0231891/" target="_blank">LinkedIn</a> (most used)</p>
        <p class="view"><a href="https://twitter.com/Keiko_geo" target="_blank">Twitter, currently known as X</a></p>
        <p class="view"><a href="https://bsky.app/profile/keiko-geo.bsky.social" target="_blank">BlueSky</a> (relatively active)</p>
        <p class="view"><a href="https://fediscience.org/@Keiko_geo" target="_blank">Mastodon</a></p>
        
        <p class="view"><a href="https://nkeikon.github.io/gee.html">(Not updated) Coding tips #EarthEngine</a></p>
        <p class="view"><a href="https://nkeikon.github.io/gedi_viz.html">(Not updated) GEDI visualisation v1 (fast)</a>/<a href="https://studio.unfolded.ai/public/7d327095-b358-4bcb-a1b0-65304fc818dc" target="_blank">v2 (slow)</a></p>
        
        <!-- <p class="view"><a href="https://nkeikon.github.io/gedi_note.html">GEDI tips and summary (not updated)</a></p> -->
        <!-- <p class="view"><a href="https://orcid.org/0000-0002-5218-3414" target="_blank">ORCID</a>/<a href="https://www.researchgate.net/profile/Keiko_Nomura3" target="_blank">ResearchGate</a>/<a href="https://scholar.google.co.uk/citations?user=4DG43OgAAAAJ&hl=en" target="_blank">Google Scholar</a></p> -->
      </header>
      <section>
      {{ content }}
      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
